APP_NAME=LC Connect API
ENVIRONMENT=development
API_V1_PREFIX=/api/v1
#This will b e used in pruction, but for development, we can use the local database
DATABASE_URL=postgresql+asyncpg://postgres:YOUR_PASSWORD@YOUR_SUPABASE_HOST:5432/postgres
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/lc_connect_db
JWT_SECRET_KEY=rvXDsf4vBbCXMkmskbaUcCer43WVo1dpQHWmYLTcZIsiSXX-FojfxsbREq_Tuz3yqcRkZ9tqu-wkQBAAoeSlmg
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
CORS_ORIGINS=http://localhost:3000,http://localhost:8081,http://127.0.0.1:3000,http://127.0.0.1:8081
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_PROFILE_BUCKET=profile-images
MAX_PROFILE_IMAGE_MB=5
