APP_NAME=LC Connect API
ENVIRONMENT=development
API_V1_PREFIX=/api/v1
#This will bE used in pruction, but for development, we will use the local database
# This is connection via session pooler IPV4
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/lc_connect_db

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/lc_connect_db

JWT_SECRET_KEY=rvXDsf4vBbCXMkmskbaUcCer43WVo1dpQHWmYLTcZIsiSXX-FojfxsbREq_Tuz3yqcRkZ9tqu-wkQBAAoeSlmg
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
CORS_ORIGINS=http://localhost:3000,http://localhost:8081,http://127.0.0.1:3000,http://127.0.0.1:8081


# Optional: Supabase Project API (only needed if you plan to call Supabase REST/Auth/Storage)
SUPABASE_URL=https://kbxgtdtrdehazuglfsea.supabase.co
SUPABASE_SERVICE_ROLE_KEY=ey********
SUPABASE_BUCKET_PROFILE_PHOTOS=lc_connect_profiles
SUPABASE_BUCKET_ATTACHMENTS=attachments
SUPABASE_BUCKET_SIGNALS=signals
