<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWZx3pFk0F2V7z-Di6ETI3KxOq37tWQUk</string>
	<key>GCM_SENDER_ID</key>
	<string>998316406519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lcconnect.app</string>
	<key>PROJECT_ID</key>
	<string>lc-connect-7abe7</string>
	<key>STORAGE_BUCKET</key>
	<string>lc-connect-7abe7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998316406519:ios:507a28a942f7eb9df805f2</string>
</dict>
</plist>